# Fill in your actual values below
NEXT_PUBLIC_SUPABASE_URL=https://ueagjjdbbukdkktviyrv.supabase.co


NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVlYWdqamRiYnVrZGtrdHZpeXJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxNzU1MjksImV4cCI6MjA5NDc1MTUyOX0._0PSkr-LIby74xi_AO03SwlgkI0CDsZyFjF-2crr818
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVlYWdqamRiYnVrZGtrdHZpeXJ2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTE3NTUyOSwiZXhwIjoyMDk0NzUxNTI5fQ.qWz3gqOLyDV1Zvz_d1ZjFSiUx2z6SOQ0a11Wqcuqjfg

# ── SANDBOX (testing) ──────────────────────────────────────────────────────
MPESA_CONSUMER_KEY=scMvYTPoU6xGh94Svw7Aq0FTnCmRHGgW1UgjkCsQD5iwlMQM
MPESA_CONSUMER_SECRET=lFgVZfe7vvNmzi5AIrLkO23DkjvJYFBG58m0UFYcP68zw1AlcOR8YMEpXtGj4G0Y
MPESA_BUSINESS_SHORTCODE=174379
MPESA_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
MPESA_ENVIRONMENT=sandbox
MPESA_CALLBACK_URL=https://batteriq.com/api/mpesa/callback
# ── PRODUCTION (go-live) — uncomment these and remove sandbox above ─────────
# MPESA_CONSUMER_KEY=ZSHGN57vFtU8miOj7p5UmqGRj75nSLC1WCh8UqJqaOl8g5em
# MPESA_CONSUMER_SECRET=QYdsmMS2toBbNnkprskM9NwXAGvq0okktgVrE6bpEqDyt3yJVreAZIHYAGatPYEK
# MPESA_BUSINESS_SHORTCODE=5286334
# MPESA_PASSKEY=f937f5801de1b42555ff74537987b919883fbad581c187472feabba71b5d0813
# MPESA_ENVIRONMENT=production
# MPESA_CALLBACK_URL=https://batteriq.com/api/mpesa/callback

GEMINI_API_KEY=AIzaSyBS6Evv2luuhGLTt2MQ5uaUm5KApibQ7pI

RESEND_API_KEY=re_BcpbazmD_PckM2p5Bk9UMqCoTBhYQYpTA
RESEND_FROM_EMAIL=orders@batteriq.com
RESEND_DOMAIN_VERIFIED=true

NEXT_PUBLIC_SITE_URL=https://batteriq.com
NEXT_PUBLIC_SITE_NAME=Batteriq
ADMIN_EMAIL=admin@batteriq.com
